<section>
  <h1>
    <img class="w3" ng-src="{{company.logo}}"> {{ (company.legal_name.toLowerCase().indexOf(company.display_name.toLowerCase()) !== -1 ? company.legal_name : company.display_name) || company.display_name }}
    <button class="fr btn" ng-if="company.isFollowing" ng-click="unfollow()" ng-mouseleave="btnHover = false" ng-mouseenter="btnHover = true" ng-init="btnHover = false" ng-class="{'btn-danger': btnHover, 'btn-link': !btnHover}">
      <i class="glyphicon" ng-class="{'glyphicon-remove': btnHover, 'glyphicon-heart text-danger': !btnHover}"></i>
      <span ng-class="{'text-muted': !btnHover}">{{ btnHover ? 'Unfollow' : 'Following'}}</span>
    </button>
    <button class="fr btn btn-primary" ng-if="!company.isFollowing" ng-click="follow()">
      <i class="glyphicon glyphicon-heart-empty"></i> Follow
    </button>
  </h1>
  <p class="measure">{{ company.description || 'Description Coming Soon' }}</p>
  <section>
    <ul class="nav nav-tabs">
      <li ui-sref-active="active"><a ui-sref="jobs()">Job Openings</a></li>
      <li ui-sref-active="active"><a ui-sref="comm()">Communications</a></li>
      <li ui-sref-active="active"><a ui-sref="news()">News</a></li>
    </ul>
    <div ui-view></div>
  </section>
</section>
