<div>
  <input type='text' placeholder='filter locations' ng-model='jobSearch'/>
  <div ng-repeat="job in currentJobs | filter: {title: jobSearch}">
    <li>{{decode(job.title)}}</li>
    <h4>Apply here <a ng-href='{{job.link}}' target='_blank'>{{job.link}}</a></h4>
    <div class='job.publish'>Posted On {{decode(job.pubDate)}}</div>
    <div> Required Skills
      <li ng-repeat='jobSkills in job.category'>{{jobSkills}}</li>
    </div>
    <div class='description-{{$index}}' ng-click="clicked(job)">Click here to get Job Description</div>
    <li class='job-compact' ng-class="{'job-compact': job.isCompact}" ng-bind-html='decode(job.description)'></d>
  </div>
</div>
