<div>
  <div class="job-filter-wrapper">
    <div class="form-group has-feedback">
      <label class="control-label" for="inputSuccess4"></label>
      <input type="text" class="form-control bg-black b--dark-gray" id="inputSuccess4" placeholder="Filter by Job Title" ng-model='jobSearch'>
    </div>
  </div>
  <div ng-if='!currentJobs'>
    Sorry! There are no job listing for {{currentCompany.display_name}} at this time. Please check again soon!
  </div>
  <div class='job-wrapper' ng-repeat="job in jobs | filter: {title: jobSearch}">
    <span class='job-title' ng-click="clicked(job)">{{job.title}}</span>
    <span class='job-apply'><button class='btn btn-default'><a class='job-apply' ng-href='{{job.url}}' target='_blank'>Click Here to Apply</a></button></span>
    <div class='job-publish'>Posted {{job.created | date: 'medium'}}</div>
    <div class='job-compact' ng-class="{'job-compact': job.isCompact}">
      <div class='job-description-text measure ml0' ng-bind-html='job.description | textFilter'></div>
    </div>

  </div>
</div>
