.job.publish {
  font-size: 45px;
}
.job-compact {
  /*max-height: 0px;*/
  display: none;
}
.job {
  max-width: 50px;
}
.form-control {
  width: 115px;
}

/*.job-uncompact {
  display: block;
  opacity: 1;
  transition: opacity 0.5s;
}*/

.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.description {
  font-weight: bold;
  font-size: 15px;
}

.jbs-job-description {
  max-height: 6em;
  overflow: hidden;
  transition: max-height 0.2s;
}

.jbs-job--expand .jbs-job-description {
  max-height: 64em;
}