.job.publish {
  font-size: 45px;
}
.job-compact {
  /*max-height: 0px;*/
  display: none;

}
.job-compact:hover {
  color: #337AB7;
  font-weight: bold;
}
.job {
  max-width: 50px;
}
.form-control {
  width: 115px;
}

/*.job-uncompact {
  display: block;
  opacity: 1;
  transition: opacity 0.5s;
}*/

.job-wrapper {
  width: 1170px;
  min-height: 90px;
  background-color: #F3F3F3;
  border: 1px solid #E1E8ED;
  padding: 1em;
}
.job-filter-wrapper {
  min-height: 72px;
  border: 1em solid #337AB7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #337AB7;
}
.job-title {
  color: #337AB7;
  font-weight: bold;
}
.job-apply {
  color: #656565;
  float: right;
}
.job-apply:hover {
  color: #337AB7;
  font-weight: bold;
}
.job-publish {
  font-size: 10px;
  font-weight: lighter;
}
.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.description {
  font-weight: bold;
  font-size: 15px;
}

.jbs-job-description {
  max-height: 6em;
  overflow: hidden;
  transition: max-height 0.2s;
}

.jbs-job--expand .jbs-job-description {
  max-height: 64em;
}