@import url('https://fonts.googleapis.com/css?family=Lato')

.job.publish {
  font-size: 45px;
}
.job-compact {
  /*max-height: 0px;*/
  display: none;

}
.job-compact:hover {
  color: #337AB7;
  font-weight: bold;
}
.job {
  max-width: 50px;
}
.form-control {
  width: 115px;
}

/*.job-uncompact {
  display: block;
  opacity: 1;
  transition: opacity 0.5s;
}*/

.job-wrapper {
  width: 1170px;
  min-height: 90px;
  background-color: #F3F3F3;
  border: 1px solid #E1E8ED;
  padding: 1em;
  margin-top: 5px;
  margin-bottom: 7px;
  box-shadow: 2.5px 2.5px 2.5px #888888;
}
.job-filter-wrapper {
  min-height: 72px;
  border: 1em solid #222222;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #222222;
}
.form-control {
  color: #000000;
}
.job-title {
  color: #000000;
  font-size: 19px;
}
.job-title:hover {
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}
.job-apply {
  /*color: #656565;*/
  float: right;
}
.job-apply:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.job-publish {
  font-size: 12px;
  font-weight: lighter;
}
.job-description:hover {
  color: #222222;
  font-weight: bold;
  cursor: pointer;
}
.job-description-text {
  font-size: 16px;
  color: #222222;
  margin: 0 auto;
}

.description {
  font-weight: bold;
  font-size: 15px;
}

.jbs-job-description {
  max-height: 6em;
  overflow: hidden;
  transition: max-height 0.2s;
}

.jbs-job--expand .jbs-job-description {
  max-height: 64em;
}