@import './topnav/topnav.css';

/* https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/ */

.jbs-flex {
  min-height: 100vh;
}
.jbs-flex,
.jbs-flex-body{
  display: flex;
  flex-direction: column;
}
.jbs-flex-side {
  order: -1;
}

@media (min-width: 768px) {
  .jbs-flex-body {
    flex-direction: row;
    flex: 1;
    padding-top: 70px;
  }
  .jbs-flex-main {
    flex: 1;
    margin-left: 18em;
  }
  .jbs-flex-side {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 70px;
    height: 100%;
    width: 18em;
    /* 12em is the width of the columns */
    flex: 0 0 18em;
  }
}


/* helpers */
.clickable {
  cursor: pointer;
