<div class="jbs-sidebar overflow-container">
  <form class="input-group" ng-submit="addCompany(companyName)">
    <input type="text" class="form-control" placeholder="Company..." ng-model="companyName">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Add</button>
    </span>
  </form>
  <ul class="nav nav-pills nav-stacked mt2">
    <li ng-repeat="company in companies" ui-sref-active="active"><a ui-sref="company(company)">{{ company.name }}</a></li>
  </ul>
</div>
