{
  "extends": "airbnb-base/legacy",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "func-names": 0,
    "vars-on-top": 0,
    "no-use-before-define": ["error", { "functions": false }],
    "no-shadow": 0
  }
}